body {
    font-family: sans-serif;
}

div#main-container {
    width: 100%;
}

div#svg-container {
    display: flex;
    align-items: start;
    gap: 16px;
}

svg#svg-main {
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.6);
}

svg#svg-info {
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.6);
}

text.overlay-text {
    font: bold small sans-serif;
}

div#upcoming {
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

div#below {
    width: 100%;
}

button#pause-button {
    width: 100%;
    aspect-ratio: 5 / 1;
    font-size: large;
}