@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body {
    font-family: 'Inter', sans - serif;
}

#page-wrapper {
    margin: 0 auto 0 auto;
    max-width: 960px;
}

#svg-maray-wrapper {
    margin: 0 auto 0 auto;
    max-width: 480px;
    margin-bottom: 32px;
}

#svg-hunrath-wrapper {
    margin: 0 auto 32px auto;
    max-width: 160px;
}

.st0 {
    fill: #507bb3;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st0:hover {
    fill: #719ad1;
    cursor: pointer;
}

.st1 {
    fill: #d18b36;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st1:hover {
    fill: #eda853;
    cursor: pointer;
}

.st2 {
    opacity: 0;
    fill: #EF4352;
    stroke: #EF4352;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

#swap-button-div {
    margin: auto;
    width: min-content;
}

button {
    user-select: none;
    font-size: large;
    font-weight: bold;
    border-radius: 32px;
    border-style: none;
    color: white;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #9a5bb5;
}

button:hover {
    background-color: #7e4a94;
}

@media (pointer:none),
(pointer:coarse) {
    #page-wrapper {
        width: 100%;
    }
    #svg-maray-wrapper {
        width: 100%;
    }
    #svg-hunrath-wrapper {
        width: 33.333333%;
    }
    button {
        width: 33.333333%;
    }
}