body {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: animloader 5s linear infinite;
    color: white;
    font-size: small;
    font-weight: bold;
}

#loader-wrapper {
    margin: 0 auto 0 auto;
    width: min-content;
}

@keyframes animloader {
    0% {
        box-shadow: -80px 0 #ff692e inset;
    }

    100% {
        box-shadow: 80px 0 #ff692e inset;
    }
}

.tooltip {
    position: relative;
    /* making the .tooltip span a container for the tooltip text */
}

.tooltip:before {
    content: attr(data-text);
    /* here's the magic */
    position: absolute;

    /* vertically center */
    top: 50%;
    transform: translateY(-50%);

    /* move to right */
    left: 100%;
    margin-left: 8px;
    /* and add a small left margin */

    /* basic styles */
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    padding: 1px 6px 2px 5px;
    border-radius: 4px;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: small;
    font-weight: normal;
    font-style: normal;

    display: none;
    /* hide by default */
}

.tooltip:hover:before {
    display: block;
}

div#login-entry,
div#login-exit {
    display: none;
}

div#main-wrapper {
    max-width: 720px;
    margin: 0 auto 0 auto;
}

div#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
}

div#links {
    display: flex;
    gap: 16px;
}

div#login-wrapper {
    display: flex;
    gap: 16px;
}

div#login-username {
    display: none;
}

div#login-username:hover {
    cursor: pointer;
}

div#fan-disclaimer {
    background-color: #4e6bc2;
    color: white;
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
    margin-bottom: 32px;
}

div#user-wrapper {
    width: 384px;
    margin: 0 auto 0 auto;
}

div#user-username {
    margin-bottom: 32px;
}

.label-wrapper {
    font-weight: bold;
}

.desc-wrapper {
    font-size: small;
}

input[type=text] {
    width: 100%;
}

select {
    width: 100%;
}

#logout-a {
    font-size: small;
}

a:link {
    text-decoration: none;
    color: #3a5acf
}

a:visited {
    text-decoration: none;
    color: #3a5acf
}

a.header-url:link,
a.guideline-url:link {
    color: black;
}

a.header-url:visited,
a.guideline-url:visited {
    color: black;
}

a.header-url:hover,
a.guideline-url:hover {
    color: #3a5acf;
}

div#login-explainer {
    text-align: center;
    width: 384px;
    margin: 0 auto 24px auto;
    font-size: small;
}

div#edits-link {
    display: none;
}

div.page-title {
    font-size: x-large;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 16px;
    text-align: center;
}

a#logout-a:hover {
    cursor: pointer;
}