div#filters-wrapper {
    width: max-content;
    margin: 0 auto 16px auto;
}

div#edits-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

div.edit-wrapper {
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
}

div.pending {
    background-color: #fffdcc;
}

div.approved {
    background-color: #ccffd5;
}

div.rejected {
    background-color: #fb9292;
}

span.status-label {
    margin-right: 4px;
}

span.status-data {
    font-weight: bold;
}

span.submitted-by-label {
    margin-right: 4px;
}

span.submitted-by-user {
    font-weight: bold;
}

span.type-label {
    margin-right: 4px;
}

span.type-data {
    font-weight: bold;
}

div.edit-info {
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

div.edit-edition-wrapper {
    display: flex;
    gap: 4px;
    margin-left: 16px;
}

div.edit-location-wrapper {
    display: flex;
    gap: 4px;
    margin-left: 16px;
}

div.edit-document-title {
    text-transform: uppercase;
    font-weight: bold;
}

span.edit-text {
    display: inline-block;
    font-family: "dupincel-variable", serif;
    background-color: white;
    padding: 6px 6px 2px 6px;
    border: 1px solid black;
    border-radius: 4px;
    max-width: calc(100% - 12px);
    display: inline-block;
    margin-top: 4px;
    margin-left: 16px;
}

div.edit-comparison {
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

div.edit-scrap-description-wrapper {
    display: flex;
    gap: 4px;
    margin-left: 16px;
}

div.edit-scrap-novel-wrapper {
    display: flex;
    gap: 4px;
    margin-left: 16px;
}

span.edit-scrap-novel-name {
    font-style: italic;
}

div.edit-existing-document {
    margin-bottom: 8px;
}

div.edit-scrap-tags-wrapper {
    display: flex;
    gap: 4px;
    margin-left: 16px;
}

div.edit-updated-document {
    display: flex;
    flex-direction: column;
    gap: 24px;
}