div#guidelines-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

div.guideline-header {
    font-weight: bold;
    cursor: pointer;
    width: max-content;
}

div.guideline-header:after {
    display: inline-block;
    background-image: url(./images/url-normal.png);
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    content: "";
    margin-left: 2px;
    position: relative;
    top: 2px;
}

div.guideline-header:hover:after {
    background-image: url(./images/url-hover.png);
}

div.centered {
    text-align: center;
}

span.becomes {
    font-style: italic;
    font-size: small;
    margin-left: 12px;
    margin-right: 12px;
}