div.uncreated-scrap-static {
    background-color: #ccffd5;
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
    text-align: center;
}

div.uncreated-scrap-static:hover {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-weight: bold;
}

div.uncreated-scrap-editor {
    display: none;
    flex-direction: column;
    gap: 8px;
    background-color: #ccffd5;
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

div#scraps-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

span.scrap-details-editor {
    display: inline-block;
    font-size: medium;
    padding: 2px 6px 2px 6px;
    min-height: 1lh;
    min-width: 64px;
    resize: none;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    background-color: white;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    max-width: calc(100% - 12px);
}

.scrap-details-editor[contenteditable]:empty::before {
    cursor: text;
    content: "A brief description of the change.";
    color: gray;
}

span.scrap-details-editor:focus {
    outline: none;
}

div.scrap-general-description {
    font-weight: bold;
    text-align: center;
}

div.scrap-general-novel {
    font-style: italic;
    text-align: center;
}

div.scrap-general-tags {
    font-size: small;
    text-align: center;
    background-color: white;
    width: max-content;
    margin: 0 auto 0 auto;
    padding: 0 6px 0 6px;
    border-radius: 4px;
}

input.scrap-tags-editor {
    width: calc(100% - 8px);
}

a.scrap-general-a {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: #9abce8;
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
}

a.scrap-general-a:hover {
    cursor: pointer;
    background-color: #8eb7ed;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}