div#login-container {
    margin: 0 auto 0 auto;
    width: max-content;
}

div#message {
    background-color: green;
    color: white;
    font-weight: bold;
    width: max-content;
    padding: 4px 8px 4px 8px;
    border-radius: 8px;
    margin: 0 auto 0 auto;
    display: none;
}