<div class="snippet-edition-wrapper">
    <span class="snippet-edition-label">Edition:</span>
    <span class="snippet-edition-name"></span>
    (<span class="snippet-edition-published"></span>) — ISBN <span class="snippet-edition-isbn">Unknown</span>
</div>
<div class="snippet-location-wrapper">
    <span class="snippet-location-part"></span>
    <span class="snippet-location-arrow">→</span>
    <span class="snippet-location-section"></span>
    <span class="snippet-location-arrow">→</span>
    <span class="snippet-location-paragraph"></span>
    <span class="snippet-location-arrow">→</span>
    <span class="snippet-location-sentence"></span>
</div>
<div class="snippet-text-wrapper">
    <span class="snippet-text-existing"></span>
</div>
<div class="snippet-attribution-wrapper">
    <div class="snippet-attribution-created">
        <span class="attribution-label">Created by</span>
        <span class="attribution-user-created">Anonymous</span>
    </div>
    <div class="snippet-attribution-updated">
        <span class="attribution-label">Last updated by</span>
        <span class="attribution-user-updated">Anonymous</span>
    </div>
</div>