@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

#page-wrapper {
    margin: 0 auto 0 auto;
    max-width: 900px;
}

#main-canvas-container {
    aspect-ratio: 1 / 1;
    width: 100%;
}

#main-canvas {
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

#main-menu-container {
    width: 100%;
}

#intro {
    margin-top: 16px;
    padding: 16px;
    background-color: #d4eaff;
    border-radius: 16px;
    display: none;
}

button {
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

#button-container {
    display: flex;
    gap: 16px;
    border-bottom: 2px solid #9c9c9c;
    padding-bottom: 16px;
}

#title {
    display: none;
    margin-top: 16px;
    text-align: center;
    font-weight: bold
}

#prompt {
    display: none;
    text-align: center;
    font-style: italic;
    max-width: 600px;
    margin: 0 auto 0 auto;
}

#solved {
    display: none;
    margin-top: 16px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    color: green;
}

@media (pointer:none),
(pointer:coarse) {
    #page-wrapper {
        max-width: 100%;
    }
}